object{
    display: block;
    margin: auto;
}


.btn-group object {
    margin-right: 5px;
    width: 19px;
    display: inline;
    vertical-align: middle;
}

.dropdown-item i {
    margin-right: 5px;
    margin-left: -5px;
}

.dropdown-item .fas {
    color: #00aa55;
}

.prep-badge {
    background-color: red;
}

.cook-badge {
    background-color: orange;
}

.serves-badge {
    background-color: #00aa55;
}

.img-thumbnail {
    max-width: 200px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.favourite, .favourite-clicked {
    order: 2;
    font-size: 32px;
    text-align: center;
    width: 45px;
    color: #00aa55;
    cursor: pointer;
    width: 100px;
    margin-top: 25px;
}


.favourite i, .favourite-clicked i {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
}


.favourite-text {
    font-size: 10px;
    color: black;
    text-align: center;
}


.section-title{
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: bold;
}

.dropdown-menu i {
    margin-right: 10px;
}


.frontpage {
    margin-bottom: 30px;
}

.recipe-badges {
    width: 100%;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 25px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.loginForm {
    margin-left: 50px;
    margin-right: 50px;
    width: 300px;
}

#loginImage {
    margin-top: 20px;
    margin-bottom: 50px;
}

