.btn-group object {
    margin-right: 5px;
    width: 19px;
    display: inline;
    vertical-align: middle;
}

.dropdown-item i {
    margin-right: 5px;
    margin-left: -5px;
}

.dropdown-item .fas {
    color: #00aa55;
}

.prep-badge {
    background-color: red;
}

.cook-badge {
    background-color: orange;
}

.serves-badge {
    background-color: #00aa55;
}

.img-thumbnail {
    max-width: 200px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.favourite, .favourite-clicked {
    order: 2;
    font-size: 32px;
    text-align: center;
    width: 45px;
    color: #00aa55;
    cursor: pointer;
    width: 100px;
    margin-top: 25px;
}


.favourite i, .favourite-clicked i {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
}


.favourite-text {
    font-size: 10px;
    color: black;
    text-align: center;
}


.section-title{
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 24px;
}

.dropdown-menu i {
    margin-right: 10px;
}


.frontpage {
    margin-bottom: 15px;
}

.recipe-badges {
    width: 100%;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.loginForm {
    margin-left: 50px;
    margin-right: 50px;
    width: 300px;
}

#loginImage {
    margin-top: 20px;
    margin-bottom: 50px;
}

.cp-sidebar {
    min-height: 100vh;
}

.alert-margin {
    margin-top: 10px;
}

.favourites-wrapper{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 12px;
    margin-bottom: 10px;
    vertical-align: bottom;
}

.favourites-wrapper small {
    margin-top: 5px;
}


#pagebuttons-top, #pagebuttons-bottom{
    background-color: #e9ecef;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
    font-size: 12px;
}

#pagebuttons-bottom {
    margin-top: 10px;
}

#pagebuttons-top span, #pagebuttons-bottom span {
    margin-right: 10px;
    margin-left: 10px;
}

#pagebuttons-top span:hover, #pagebuttons-bottom span:hover {
    color: #3d3d3d;
}

#pagebuttons-top a, #pagebuttons-bottom a {
    color: black;
}

#previous-page{
    float: left;
}

#next-page{
    float: right;
}

.about-cards{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.homepage-wrapper{
    margin-left: 20px;
    margin-right: 20px;
}

.logo{
    font-family: 'Patua One', cursive;
    margin-right: 20px;
}

#loginImage object{
    display: block;
    margin: auto;
}

footer {
    background-color: #e9ecef;
    text-align: center;
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.homepage-card{
    max-width: 300px;
    margin: auto;
}

.homepage-cards {
    margin-bottom: 20px;
}

.homepage-card-title {
    min-height: 80px;
    max-height: 80px;
    font-size: 20px;
}

body {
    margin-bottom: 70px;
}