{% extends 'layout.html.twig' %}
{% block title %}Fussee{% endblock %}
{% block content %}
        <div id="wrapper">

        <div class="topnav">
            <div class="logo">fussee</div>
            <div class="topnav-right">
                <a href="homepage">Home</a>
                <a href="about">About</a>
                <a href="browse">Browse</a>
                <div class="dropdown">
                    <a class="active" href="user-cp">
                        <div class="loggedInUser">
                            <object type="image/svg+xml" data="assets/avatar.svg"></object>
                            {{ firstName }}
                        </div>
                    </a>

                    <div class="dropdown-content">
                        <a href="favourites"><i class="fas fa-heart"></i> Favourites</a>
                        <a href="user-cp"><i class="fas fa-cog"></i> Settings</a>
                        <a href="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </div>
                </div>
            </div>
        </div>

            <div id="user-cp-error">
                <span id="error-message"> {{ error }} </span>
            </div>

        <div id="user-cp">
            <h1>{{ firstName }}'s ADMIN Control Panel</h1>

            <h2>Make Admin</h2>
            <p>Give a user administrator privileges.</p>
            <form method="post">
                Email Address:<br>
                <input type="email" name="email"><br><br>
                <button name="makeAdminSubmit">Submit</button>
            </form>

        </div>

    </div>

{% endblock %}
