{% extends 'layout.html.twig' %}
{% block title %}Fussee - Admin Control Panel{% endblock %}
{% block content %}
        <div id="wrapper">

        <div class="topnav">
            <div class="logo">fussee</div>
            <div class="topnav-right">
                <a href="homepage">Home</a>
                <a href="about">About</a>
                <a href="browse">Browse</a>
                <div class="dropdown">
                    <a class="active" href="user-cp">
                        <div class="loggedInUser">
                            <object type="image/svg+xml" data="assets/avatar.svg"></object>
                            {{ firstName }}
                        </div>
                    </a>

                    <div class="dropdown-content">
                        <a href="favourites"><i class="fas fa-heart"></i> Favourites</a>
                        <a href="user-cp"><i class="fas fa-cog"></i> Settings</a>
                        <a href="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </div>
                </div>
            </div>
        </div>

            <div id="user-cp-success">{{ success }}</div>

            <div id="user-cp">
                <div id="heading1-admin">{{ firstName }}'s ADMIN Control Panel</div>

                <div id="option1">
                    <span id="option-title">Add Recipe</span>
                    <p>Add a recipe to the database.</p>
                    <form method="post">
                        <label for="title">Recipe Title:</label>
                        <input type="text" name="title"><br><br>
                        <label for="prepTime">Prep Time:</label>
                        <input type="text" name="prepTime"><br><br>
                        <label for="cookTime">Cook Time:</label>
                        <input type="text" name="cookTime"><br><br>
                        <label for="servings">Servings:</label>
                        <input type="text" name="servings"><br><br>
                        <label for="source">Source:</label>
                        <input type="text" name="source"><br><br>
                        <label for="url">Recipe URL:</label>
                        <input type="text" name="url"><br><br>
                        <label for="thumbnail">Thumbnail URL:</label>
                        <input type="text" name="thumbnail"><br><br>

                        <label for="ingredients">Ingredients:</label>
                        <input id="ingredients" type="text" name="ingredients" placeholder="Enter something">

                        <button name="recipeSubmit">Submit</button>
                    </form>
                </div>

                <div id="option2">
                    <span id="option-title">Make Admin</span>
                    <p>Give a user administrative privileges.</p>
                    <form method="post">
                        <label for="email">User's email address:</label>
                        <input type="email" name="email"><br><br>
                        <button name="makeAdminSubmit">Submit</button>
                    </form>
                </div>

                <div id="option1">
                    <span id="option-title">Remove Admin</span>
                    <p>Remove a user's administrative privileges.</p>
                    <form method="post">
                        <label for="email">User's email address:</label>
                        <input type="email" name="email"><br><br>
                        <button name="removeAdminSubmit">Submit</button>
                    </form>
                </div>


            </div>

        </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            var firstElement = document.getElementById('ingredients');

            var choices1 = new Choices(firstElement, {
                delimiter: ',',
                editItems: true,
                removeItemButton: true,
                duplicateItemsAllowed: false,
                allowPaste: false
            })
        });
    </script>

    </div>

{% endblock %}
