{% extends 'layout.html.twig' %}
{% block title %}Fussee - Blog{% endblock %}
{% block content %}

    <div class="container blog-container">
    <div class="card blog-card">
        <h4 class="card-header">Fussee Dev Blog - #1</h4>
        <div class="card-body blog-post">
            <div class="blog-post-body">{{ post|raw }}</div>
            <div class="text-muted float-right blog-author"><b>Author:</b> Jamie Whittaker<br><b>Date posted:</b> 15/06/2020</div>

        </div>
    </div>
        <div id="pagebuttons-top">
            <a href="{{ previousPage }}"><span id="previous-page">< Previous Post</span></a>
            <a href="{{ nextPage }}"><span id="next-page">Next Post ></span></a>
        </div>
    </div>

{% endblock %}
