{% extends 'layout.html.twig' %}
{% block title %}Fussee - Browse{% endblock %}
{% block content %}

    <div id="wrapper">
        <body>

        <div class="topnav">
            <div class="logo">fussee</div>
            <div class="topnav-right">
                <a href="homepage">Home</a>
                <a href="about">About</a>
                <a class="active" href="browse">Browse</a>
                <a href="signin">Sign-in</a>
            </div>
        </div>

        <div class="searchArea">
            <div class="searchHeader">What would you like to eat?</div>
            <div class="searchbox">
                <form method="post" class="searchbox">
                    <div class="searchMargin">
                        <input id="ingredients" type="text" name="ingredients" placeholder="Enter something">
                    </div>
                    <input type="submit" name="submit" value="Search"/>
                </form>
            </div>
        </div>

        <p>test test</p>
        </body>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            var firstElement = document.getElementById('ingredients');
            var choices1 = new Choices(firstElement, {
                delimiter: ',',
                editItems: true,
                maxItems: 5,
                removeItemButton: true,
                duplicateItemsAllowed: false,
                allowPaste: false
            })


            });
    </script>
{% endblock %}
