{% extends 'layout.html.twig' %}
{% block title %}Fussee{% endblock %}
{% block content %}

    <div id="wrapper">
        <body>

        <div class="topnav">
            <div class="logo">fussee</div>
            <div class="topnav-right">
                <a href="homepage">Home</a>
                <a href="about">About</a>
                <a href="browse">Browse</a>
                <a href="signin">Sign-in</a>
            </div>
        </div>

        <div id="loginImage">
            <object type="image/svg+xml" data="assets/contact_us.svg" width="250px" align="center"></object>
        </div>

        <p>Contact page</p>
        </body>
    </div>
{% endblock %}
