{% extends 'layout.html.twig' %}
{% block title %}Fussee{% endblock %}
{% block content %}
    <div id="wrapper">
        <body>

        <div class="topnav">
            <div class="logo">fussee</div>
            <div class="topnav-right">
                <a class="active" href="homepage">Home</a>
                <a href="about">About</a>
                <a href="browse">Browse</a>
                <div class="dropdown">
                    <a href="user-cp">
                        <div class="loggedInUser">
                            <object type="image/svg+xml" data="assets/avatar.svg"></object>
                            {{ firstName }}
                        </div>
                    </a>

                    <div class="dropdown-content">
                        <a href="favourites">Favourites</a>
                        <a href="user-cp">Settings</a>
                        <a href="logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <script>
            let images = ["1.jpg", "2.jpg", "3.jpg", "4.jpg"]

            function getRandomImage() {
                let folderPath = "assets/";
                let num = Math.floor( Math.random() * images.length);
                let image = images[num];
                let imgStr = '<img src="' + folderPath + image + '" alt = "">';
                document.write(imgStr);
                document.close();
            }
        </script>

        <div id="image"><script type="text/javascript">getRandomImage();</script></div>



        <div class="searchArea">
            <div class="searchHeader">What would you like to eat?</div>
            <div class="searchbox">
                <form method="post" class="searchbox">
                    <div class="searchMargin">
                        <input id="ingredients" type="text" name="ingredients" placeholder="Enter something">
                    </div>
                    <input type="submit" name="submit" value="Search"/>
                </form>
            </div>
        </div>

        <div id="summary">
            <p>
                Fussee is a website specifically tailored towards fussy eaters and people that suffer with food allergies and intolerence.
                Simply search for the ingredients that you would like to cook and enter the ingredients that you would <b>NOT</b> like to eat
                and Fussee will return recipes for you that match your search criteria. <br><br>
            </p>
        </div>
        </body>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            var firstElement = document.getElementById('ingredients');
            var choices1 = new Choices(firstElement, {
                delimiter: ',',
                editItems: true,
                maxItems: 5,
                removeItemButton: true,
                duplicateItemsAllowed: false,
                allowPaste: false
            })


        });
    </script>
{% endblock %}
