<!DOCTYPE html>
<html lang=”en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="Author" content="Jamie Whittaker"/>
    <link rel="stylesheet" href="css/main.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/choices.css">
    <script src="choices.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
{% block content %}{% endblock %}
<div class="fussee-footer">
    <p>
        Jamie Whittaker, De Montfort University
        <br>
        <i>Fussee - January 2020 Revision</i>
        <br>
        <a href="homepage">Home</a> • <a href="about">About</a> • <a href="browse">Browse</a> • <a href="contact">Contact</a>
    </p>
</div>
</html>
