{% extends 'layout.html.twig' %}
{% block title %}Fussee{% endblock %}
{% block content %}
    <div id="wrapper">

        <div class="topnav">
            <div class="logo">fussee</div>
            <div class="topnav-right">
                <a href="homepage">Home</a>
                <a href="about">About</a>
                <a href="browse">Browse</a>
                <a class="active" href="signin">Sign-in</a>
            </div>
        </div>

        <div id="login-error">{{ error }}</div>

        <div id="loginImage">
            <object type="image/svg+xml" data="assets/authentication.svg" width="250px" align="center"></object>
        </div>

        <div id="loginContainer">
            <br>
            <div id="left">
            <h1>Existing users:</h1>
            <p>Log in to view your favourite recipes!</p>
            <form method="post">
                Email:<br>
                <input type="email" name="loginEmail" style="width: 250px"><br><br>
                Password:<br>
                <input type="password" name="loginPassword" style="width: 250px"><br><br>
                <button name="loginSubmit">Login</button>
                <br><br><br><br><br>
            </form>
        </div>

        <div id="right">
        <h1>New users:</h1>
        <p>Registration allows you to favourite recipes that you've found!</p>
        <form method="post">
            Email:<br>
            <input type="email" name="registerEmail" style="width: 250px"><br><br>
            Password:<br>
            <input type="password" name="registerPassword" style="width: 250px"><br><br>
            First Name:<br>
            <span style="font-size: 10px !important; color: #aaaaaa;">(we use this to personalise your experience)</span><br>
            <input type="text" name="registerFirstName" style="width: 250px"><br><br>
            <button name="registerSubmit">Sign Up</button>
        </form>
        </div>
        </div>

    </div>
{% endblock %}
