{% extends 'layout.html.twig' %}
{% block title %}Fussee - User Control Panel{% endblock %}
{% block content %}

    {% if loggedIn %}
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar cp-sidebar">
                    <div class="sidebar-sticky">
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Account details</span>
                        </h6>

                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#" onclick="javascript:openSetting('cp-email-change');">
                                    Change Email
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" onclick="javascript:openSetting('cp-password-change');">
                                    Change Password
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" onclick="javascript:openSetting('cp-firstName-change');">
                                    Change First Name
                                </a>
                            </li>
                        </ul>

                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Other options</span>
                        </h6>

                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link text-danger" href="#" onclick="javascript:openSetting('cp-remove-favourites');">
                                    Remove favourites
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-danger" href="#" onclick="javascript:openSetting('cp-delete-account');">
                                    Delete account
                                </a>
                            </li>
                        </ul>

                        {% if isAdmin %}
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Admin options</span>
                        </h6>

                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link text-danger" href="#" onclick="javascript:openSetting('cp-make-admin');">
                                    Make admin
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-danger" href="#" onclick="javascript:openSetting('cp-remove-admin');">
                                    Remove admin
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-danger" href="#" onclick="javascript:openSetting('cp-add-recipe');">
                                    Add recipe
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-danger" href="#" onclick="javascript:openSetting('cp-markdown');">
                                    Add blog post
                                </a>
                            </li>
                        </ul>
                        {% endif %}

                    </div>
                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

                    {% if error is defined %}
                        <div class="alert alert-danger alert-margin" role="alert">
                            <strong>Oh snap!</strong> {{ error }}
                        </div>
                    {% endif %}

                    {% if success is defined %}
                        <div class="alert alert-success alert-margin" role="alert">
                            <strong>Success!</strong> {{ success }}
                        </div>
                    {% endif %}


                    <div class="cp-intro">
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                            <h1 class="h2">Welcome to your control panel, {{ firstName }}.</h1>
                        </div>

                        <p>Choose an option in the sidebar to proceed.</p>
                    </div>



                    <div class="cp-option cp-email-change">
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                            <h1 class="h2">Change Email Address</h1>
                        </div>

                        <p>Change your email address using the form below.</p>

                        <form method="post">
                            <div class="form-group">
                                <label for="newEmail">New email address:</label>
                                <input type="email" class="form-control" name="newEmail" placeholder="Enter your new email address here...">
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" name="password" placeholder="Enter your password here...">
                            </div>

                            <button name="changeEmailSubmit" type="submit" class="btn btn-primary mb-2">Submit</button>
                        </form>

                    </div>


                    <div class="cp-option cp-password-change">
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                            <h1 class="h2">Change Password</h1>
                        </div>

                        <p>Change your password using the form below.</p>

                        <form method="post">
                            <div class="form-group">
                                <label for="oldPassword">Current password:</label>
                                <input type="password" class="form-control" name="oldPassword" placeholder="Enter your current password here...">
                            </div>
                            <div class="form-group">
                                <label for="newPassword">New password:</label>
                                <input type="password" class="form-control" name="newPassword" placeholder="Enter your new password here...">
                            </div>

                            <button name="changePasswordSubmit" type="submit" class="btn btn-primary mb-2">Submit</button>

                        </form>
                    </div>


                    <div class="cp-option cp-firstName-change">
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                            <h1 class="h2">Change First Name</h1>
                        </div>

                        <p>Change your first name using the form below.</p>

                        <form method="post">
                            <div class="form-group">
                                <label for="newFirstName">New first name:</label>
                                <input type="text" class="form-control" name="newFirstName" placeholder="Enter a new first name here...">
                            </div>

                            <button name="changeFirstNameSubmit" type="submit" class="btn btn-primary mb-2">Submit</button>

                        </form>
                    </div>

                    <div class="cp-option cp-markdown">
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                            <h1 class="h2">Create blog post</h1>
                        </div>

                        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
                        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

                        <form method="post">
                            <div class="form-group">
                                <label for="post-title">Post title:</label>
                                <input type="text" class="form-control" name="post-title" placeholder="Enter a title here...">
                                <div class="markdown-editor">
                                <textarea name="post-content"></textarea>
                                </div>


                            <label for="post-title">Post thumbnail:</label>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1" name="post-thumbnail">
                            <div class="post-submit">
                            <button name="post-submit" type="submit" class="btn btn-primary mb-2">Submit</button>
                            </div>
                            </div>

                        </form>




                    <script>
                        var simplemde = new SimpleMDE();
                    </script>
                    </div>


                </main>
            </div>
        </div>

        <script>
            $('.cp-option').hide();

            function openSetting(p1) {
                $('.cp-intro').hide();
                $('.cp-option').hide();
                $('.'+p1).show();
            }

        </script>


    {% else %}
    <div class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong> You aren't logged in. Please login to use this page.
    </div>
    {% endif %}

{% endblock %}
