{% extends 'layout.html.twig' %}
{% block title %}Fussee{% endblock %}
{% block content %}
    <div id="wrapper">

        <div class="topnav">
            <div class="logo">fussee</div>
            <div class="topnav-right">
                <a href="homepage">Home</a>
                <a href="about">About</a>
                <a href="browse">Browse</a>
                <a class="active" href="signin">Sign-in</a>
            </div>
        </div>

        <div id="login-error">
            You are not logged in. You do not have permission to use this page.
        </div>

    </div>
{% endblock %}
